gradio==4.3.0
librosa==0.10.1
matplotlib==3.8.0
noisereduce==3.0.0
numpy==1.24.4
numpy==1.24.3
openai_whisper==20230918
pandas==2.1.3
pydub==0.25.1
pyplutchik==0.0.11
scikit_learn==1.3.0
scipy==1.11.3
simple_diarizer==0.0.13
soundfile==0.12.1
streamlit==1.28.0
tensorflow_hub==0.14.0
torch==2.0.1
tqdm==4.65.0
transformers==4.33.2
whisper==1.1.10
